/* For use in src/lib/core/theming/_palette.scss */
$md-libraryblue: (
  50 : #e6e9f0,
  100 : #c0c8d9,
  200 : #96a3c0,
  300 : #6c7ea6,
  400 : #4d6393,
  500 : #2d4780,
  600 : #284078,
  700 : #22376d,
  800 : #1c2f63,
  900 : #112050,
  A100 : #89a2ff,
  A200 : #5679ff,
  A400 : #2351ff,
  A700 : #093dff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-librarylightblue: (
  50 : #f3f6fc,
  100 : #e1e8f8,
  200 : #cdd9f3,
  300 : #b9caee,
  400 : #aabeea,
  500 : #9bb3e6,
  600 : #93ace3,
  700 : #89a3df,
  800 : #7f9adb,
  900 : #6d8bd5,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #e6edff,
  A700 : #cddbff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-librarydarkblue: (
  50 : #e3e5e9,
  100 : #b9bec7,
  200 : #8b92a2,
  300 : #5d667c,
  400 : #3a4660,
  500 : #172544,
  600 : #14213e,
  700 : #111b35,
  800 : #0d162d,
  900 : #070d1f,
  A100 : #5d7cff,
  A200 : #2a52ff,
  A400 : #002ef6,
  A700 : #0029dd,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-librarygray: (
  50 : #f2f3f4,
  100 : #e0e0e3,
  200 : #cbccd1,
  300 : #b6b8bf,
  400 : #a6a8b1,
  500 : #9699a3,
  600 : #8e919b,
  700 : #838691,
  800 : #797c88,
  900 : #686b77,
  A100 : #f1f3fe,
  A200 : #c1ccfb,
  A400 : #8aa0ff,
  A700 : #708bff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
