
<mat-form-field>
  <input matNativeControl matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>

<div class="mat-elevation-z8">

  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="patronName">
      <th class="data-header" mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td class="data-cell" mat-cell *matCellDef="let row">{{row.patronName}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="libraryCard">
      <th class="data-header" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td class="data-cell" mat-cell *matCellDef="let row">{{row.libraryCard}}</td> <!--, {{row.last_name}}</td>-->
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th class="data-header" mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td class="data-cell" mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <!-- Birthday Column -->
    <ng-container matColumnDef="phone">
      <th class="data-header" mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td class="data-cell" mat-cell *matCellDef="let row">{{row.phone}}</td>
    </ng-container>

    <ng-container matColumnDef="tosAgreement">
      <th class="data-header" mat-header-cell *matHeaderCellDef>TOS Agreement</th>
      <td class="data-cell" mat-cell *matCellDef="let row">{{row.tosAgreement}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
  </table>

  <mat-paginator #paginator
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 50, 100, 250]">
  </mat-paginator>
</div>
