<div class="library-title">Rapides Parish Library</div>

<div class="tos-title">3D Printer Policy</div>

<div class="tos-note">The Rapides Parish Library will be offering 3D Printing to the public at the beginning of May, 2015. The policy is adopted for the first months of this service, and will be reviewed in November, 2015.</div>
<mat-list>
  <mat-list-item><fa-icon [icon]="faCircle"></fa-icon>&nbsp;&nbsp;&nbsp;This service is only available to Rapides Parish Library patrons in good standing.</mat-list-item>
  <mat-list-item><fa-icon [icon]="faCircle" size="xs"></fa-icon>&nbsp;&nbsp;&nbsp;Only one request can be submitted at a time, and will be added to a queue.</mat-list-item>
  <mat-list-item><fa-icon [icon]="faCircle" size="xs"></fa-icon>&nbsp;&nbsp;&nbsp;Jobs that require the printing of many components may drop in the queue position.</mat-list-item>
  <mat-list-item><fa-icon [icon]="faCircle" size="xs"></fa-icon>&nbsp;&nbsp;&nbsp;Prints are handed over AS IS. If prints require rafts and support structures, patrons will be responsible for removing these.</mat-list-item>
  <mat-list-item><fa-icon [icon]="faCircle" size="xs"></fa-icon>&nbsp;&nbsp;&nbsp;The cost is $1 per file.  The cost of specialty filaments vary to the customer as the cost varies to the Rapides Parish Library.</mat-list-item>
  <mat-list-item><fa-icon [icon]="faCircle" size="xs"></fa-icon>&nbsp;&nbsp;&nbsp;The colors available may change without notice, and we cannot guarantee that the selected color will be available. In the event that a chosen color is out of stock, the most similar color available will be used.</mat-list-item>
  <mat-list-item><fa-icon [icon]="faCircle" size="xs"></fa-icon>&nbsp;&nbsp;&nbsp;Staff review and prepare all project files.</mat-list-item>
  <mat-list-item><fa-icon [icon]="faCircle" size="xs"></fa-icon>&nbsp;&nbsp;&nbsp;You must submit appropriate files. No guns, gun parts, weapons of any kind, or salacious objects will be accepted, nor fictional, replica or toy weapons.</mat-list-item>
  <mat-list-item><fa-icon [icon]="faCircle" size="xs"></fa-icon>&nbsp;&nbsp;&nbsp;We reserve the right to refuse requests.</mat-list-item>
  <mat-list-item><fa-icon [icon]="faCircle" size="xs"></fa-icon>&nbsp;&nbsp;&nbsp;We will do our best to complete the model within 10-14 days, but if demand for the printer is high, wait times may be longer.</mat-list-item>
</mat-list>

<div class="additional-notes">Adopted by the Rapides Parish Library Board of Control  3/17/2015</div>

<div class="">Revised 11/17/2015</div>

<div class="">Revised 3/15/2016</div>

<div class="">Revised 4/19/2016</div>

<button mat-button (click)="onNoClick()">Accept & Submit</button>
<button mat-button>Cancel</button>
