<h1 mat-dialog-title>Menu Group Details</h1>
<div mat-dialog-content>
  <div class="row">
    Group Name: {{data.menuGroupName}}
  </div>
  <div class="row">
   Display Name : {{data.menuGroupDisplayName}}
  </div>
  <div class="row">
   Description: {{data.menuGroupDescription}}
  </div>
  <div class="row">
    Position: {{data.menuPosition}}
  </div>
  <div class="row">
    <div class="col">
      <div class="row">Select Menu Groups to Add</div>
      Menu Groups
  <mat-selection-list #shoes>
    <mat-list-option *ngFor="let shoe of typesOfShoes">
      {{shoe}}
    </mat-list-option>
  </mat-selection-list>

  <p>
    Options selected: {{shoes.selectedOptions.selected.length}}
  </p>
    </div>
    <div class="col">
      <div class="row">Select Menu Items to Add</div>
      Menu Items
      <mat-selection-list #shoes>
        <mat-list-option *ngFor="let shoe of typesOfShoes">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>

      <p>
        Options selected: {{shoes.selectedOptions.selected.length}}
      </p>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
  <button mat-button [mat-dialog-close]="data.menuGroupName" cdkFocusInitial>Close</button>
</div>
