<mat-toolbar>
<mat-toolbar-row>
  <button  (click)="routeToHome()">Rapides Parish Library</button>
  <span class="example-spacer"></span>
  <!--<mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>-->

  <button mat-button [matMenuTriggerFor]="users">User Management</button>

  <mat-menu #users="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="manageUsers">Manage Users</button>
    <button mat-menu-item [matMenuTriggerFor]="manageAccess">Manage Menu Access</button>
    <button mat-menu-item (click)="routeToBranchManagement()">Branches</button>
  </mat-menu>

  <mat-menu #manageUsers="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="userManagement">Manage User(s)</button>
    <button mat-menu-item [matMenuTriggerFor]="usegroupManagement">Manage User Group(s)</button>
    <button mat-menu-item [matMenuTriggerFor]="systemPermissionManagement">Manage Permission(s)</button>

  </mat-menu>

  <mat-menu #userManagement="matMenu">
    <button mat-menu-item (click)="routeToUserManagement()">User(s)</button>
    <button mat-menu-item (click)="routeToCustomUserManagement()">Custom User(s)</button>
    <button mat-menu-item (click)="routeToCustomUserPrivilegeManagement()">Custom User Privilege(s)</button>
    <button mat-menu-item (click)="routeToCustomUserMenuItemManagement()">Custom User Menu Item(s)</button>
  </mat-menu>

  <mat-menu #manageAccess="matMenu">
    <button mat-menu-item (click)="routeToMenuContainerManagement()">Menu Container(s)</button>
    <button mat-menu-item (click)="routeToMenuManagement()">Menu(s)</button>
    <button mat-menu-item (click)="routeToMenuGroupManagement()">Menu Group(s)</button>
    <button mat-menu-item (click)="routeToUserGroupMenuItemManagement()">Menu Item(s)</button>
  </mat-menu>

  <mat-menu #usegroupManagement="matMenu">
    <button mat-menu-item (click)="routeToManageGroupMembers()">Manage Group Members</button>
    <button mat-menu-item (click)="routeToManageGroupRoles()">Manage Group Roles</button>
    <button mat-menu-item (click)="routeToManageGroupPrivileges()">Manage Group Privileges</button>
  </mat-menu>

  <mat-menu #systemPermissionManagement="matMenu">
    <button mat-menu-item (click)="routeToSystemRoleManagement()">Manage Roles</button>
    <button mat-menu-item (click)="routeToSystemPrivilegeManagement()">Manage Privileges</button>
  </mat-menu>
</mat-toolbar-row>
</mat-toolbar>
