@import './../../../../src/sass/palettes';
@import './../../../../src/sass/variables';

.control-panel-menu {
  float: right;
  padding-left: 4em;
}

.mat-toolbar-row {
  align-content: start;
  background-color: $palette-libraryblue-500;
}

.mat-menu {
  background-color: $palette-libraryblue-500;
}
.mat-menu-item {
  background-color: $palette-libraryblue-500;
  color: white;
}

.mat-menu-item-highlighted:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item:hover:not([disabled]) {
  background-color: $palette-libraryblue-400;
}

.mat-menu-panel {
  background-color: $palette-libraryblue-500 !important;
}

fa-icon {
  font-size: 1.7em;
  line-height: 1em;
  color: grey;
}

.side-panel-icon {
  color: white;
}

.home-button {
  color: white;
  background-color: $palette-libraryblue-500;
}
.side-panel-button {
  background-color: $palette-libraryblue-500;
  float: left;
  margin: 0;
  padding: 0;
}

.login-button {
  float: right;
  background-color: $palette-libraryblue-500;
  .login-button-icon {
    color: white;
  }
}

.login-spacer {
  flex: 1 1 auto;
}

.menu-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  color: white;
}
