<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col">
    <div class="jumbotron-fluid">
      <mat-form-field>
        <input class="full-width-table" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table class="full-width-table" [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="patronName">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element"> {{element.patronName}} </td>
        </ng-container>
        <ng-container matColumnDef="libraryCard">
          <th mat-header-cell *matHeaderCellDef>Card #</th>
          <td mat-cell *matCellDef="let element"> {{element.libraryCard}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell class="truncate-cell" *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>Phone</th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
        <ng-container matColumnDef="tosAgreement">
          <th mat-header-cell *matHeaderCellDef>TOS</th>
          <td mat-cell *matCellDef="let element"> {{boolToAcceptedDeclined(element.tosAgreement)}} </td>
        </ng-container>
        <ng-container matColumnDef="printed">
          <th mat-header-cell *matHeaderCellDef>Printed</th>
          <td mat-cell *matCellDef="let element"> {{boolToYesNo(element.printed)}} </td>
        </ng-container>
        <ng-container matColumnDef="pickedUp">
          <th mat-header-cell *matHeaderCellDef>Picked Up</th>
          <td mat-cell *matCellDef="let element"> {{boolToYesNo(element.pickedUp)}} </td>
        </ng-container>
        <ng-container matColumnDef="finalLocation">
          <th mat-header-cell *matHeaderCellDef>Final Location</th>
          <td mat-cell class="truncate-cell" *matCellDef="let element"> {{element.finalLocation}} </td>
        </ng-container>
        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef>Color</th>
          <td mat-cell *matCellDef="let element"> {{element.color}} </td>
        </ng-container>
        <!--<ng-container matColumnDef="specialInstructions">
          <th mat-header-cell *matHeaderCellDef>Special Instructions</th>
          <td mat-cell *matCellDef="let element"> {{element.specialInstructions}} </td>
        </ng-container>-->
        <ng-container matColumnDef="fileName">
          <th mat-header-cell *matHeaderCellDef>File Name</th>
          <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
        </ng-container>
        <ng-container matColumnDef="submitted">
          <th mat-header-cell *matHeaderCellDef>Submitted</th>
          <td mat-cell *matCellDef="let element"> {{simplifyDate(element.submitted)}} </td>
        </ng-container>
        <ng-container matColumnDef="modifiedBy">
          <th mat-header-cell *matHeaderCellDef>Modified By</th>
          <td mat-cell *matCellDef="let element"> {{element.modifiedBy}} </td>
        </ng-container>
        <ng-container matColumnDef="printedBy">
          <th mat-header-cell *matHeaderCellDef>Printed By</th>
          <td mat-cell *matCellDef="let element"> {{element.printedBy}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <fa-icon [icon]="faEdit" class="fa-lg" (click)="editRecord(element)"></fa-icon> &nbsp;<fa-icon [icon]="faTrash" class="fa-lg"
                                                                                                 (click)="deleteConfirmation(element._id)"></fa-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator class="full-width-table" #paginator
                     [pageIndex]="0"
                     [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 25, 50, 100, 250]">
      </mat-paginator>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>

<br>
<br>
<br>
