<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col">
    <div class="jumbotron-fluid">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Add New User</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)">
          <mat-form-field>
            <input matInput class="create-input-field" placeholder="User Name" required maxlength="40"
                   [(ngModel)]="userName" name="userName"
                   #pickedName="ngModel">
          </mat-form-field>
            <div *ngIf="!pickedName.valid && pickedName.touched">
              User name is required!
            </div>
          <mat-form-field>
            <mat-select placeholder="Assigned" [(ngModel)]="assigned" name="assigned" required #pickedAssignedStatus="ngModel">
              <mat-option *ngFor="let assignedBool of booleanlist" [value]="assignedBool.value">{{booleanToText(assignedBool.value)}}</mat-option>
            </mat-select>
          </mat-form-field>
            <div *ngIf="pickedName.touched && pickedAssignedStatus.value == null">
              Must set user assigned/unassigned status!
            </div>
          <mat-form-field>
            <mat-select placeholder="Custom User" [(ngModel)]="custom" name="custom" required #pickedCustomStatus="ngModel">
              <mat-option *ngFor="let customUserBool of booleanlist" [value]="customUserBool.value">{{booleanToText(customUserBool.value)}}</mat-option>
            </mat-select>
          </mat-form-field>
            <div *ngIf="pickedName.touched && pickedCustomStatus.value == null">
              Must specify if user is a custom or standard user!
            </div>
          <mat-form-field>
            <mat-select placeholder="Active" [(ngModel)]="active" name="active" required #pickedActiveStatus="ngModel">
              <mat-option *ngFor="let activeBool of booleanlist" [value]="activeBool.value">{{booleanToText(activeBool.value)}}</mat-option>
            </mat-select>
            <div *ngIf="pickedName.touched && pickedCustomStatus.value == null">
              Must specify if user is active/inactive!
            </div>
          </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <div class="row">
          <div class="col-sm-1">&nbsp;</div>
          <div class="col-sm"><button mat-button type="submit" [disabled]="!newUserForm.form.valid" (click)="onSubmit(newUserForm)">Add User</button></div>
          <div class="col-sm"><button mat-button type="reset" (click)="newUserForm.reset()">Reset</button></div>
          <div class="col-sm-1">&nbsp;</div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-1">&nbsp;</div>
  <div class="col">
    <div class="jumbotron">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table class="full-width-table" [dataSource]="dataSource" class="mat-elevation-z8">
        <!--<ng-container matColumnDef = "_id">
          <th mat-header-cell *matHeaderCellDef> Id</th>
          <td mat-cell *matCellDef = "let element"> {{element._id}} </td>
        </ng-container>-->
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef>User Name</th>
          <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>
        <ng-container matColumnDef="assigned">
          <th mat-header-cell *matHeaderCellDef>Assigned</th>
          <td mat-cell *matCellDef="let element"> {{booleanToText(element.assigned)}} </td>
        </ng-container>
        <ng-container matColumnDef="customUser">
          <th mat-header-cell *matHeaderCellDef>Custom User</th>
          <td mat-cell *matCellDef="let element"> {{booleanToText(element.customUser)}} </td>
        </ng-container>
        <ng-container matColumnDef="active">
          <th mat-header-cell *matHeaderCellDef>Active</th>
          <td mat-cell *matCellDef="let element"> {{booleanToText(element.active)}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <fa-icon [icon]="faEdit" (click)="editRecord(element)"></fa-icon> &nbsp;<fa-icon [icon]="faTrash"
                                                                                             (click)="deleteConfirmation(element)"></fa-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator
                     [pageIndex]="0"
                     [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 25, 50, 100, 250]">
      </mat-paginator>
    </div>
  </div>
  <div class="col-sm-1">&nbsp;</div>
</div>

<br>
<br>
<br>
