<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col">
    <div class="jumbotron-fluid">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table class="full-width-table" [dataSource]="dataSource" class="mat-elevation-z8">
        <!--<ng-container matColumnDef = "_id">
          <th mat-header-cell *matHeaderCellDef> Id</th>
          <td mat-cell *matCellDef = "let element"> {{element._id}} </td>
        </ng-container>-->
        <ng-container matColumnDef="privilegeName">
          <th mat-header-cell *matHeaderCellDef>Role Name</th>
          <td mat-cell *matCellDef="let element"> {{element.privilegeName}} </td>
        </ng-container>
        <ng-container matColumnDef="privilegeDescription">
          <th mat-header-cell *matHeaderCellDef>Role Description</th>
          <td mat-cell *matCellDef="let element"> {{element.privilegeDescription}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <fa-icon [icon]="faEdit" (click)="editRecord(element)"></fa-icon> &nbsp;<fa-icon [icon]="faTrash"
                                                                                             (click)="deleteConfirmation(element)"></fa-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator
                     [pageIndex]="0"
                     [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 25, 50, 100, 250]">
      </mat-paginator>
    </div>
  </div>
</div>

<br>
<br>
<br>
